<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>test> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- <appender name="memory" class="skysail.server.osgi.logging.memoryAppender.MemoryAppender"> 
		</appender> -->

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<file>etc/testrun.log</file>
		<append>false</append>
		<encoder>
			<pattern>%-5level %logger{55} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- <logger name="chapters.configuration" level="INFO" /> -->

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="memory" /> -->
	</root>
</configuration>